/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.posts{
    background-color: black;
    color: black;
    width: calc(100vw / 2.5);
    height: 500vh;
    overflow-x: hidden;
} */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.posts{
    background-color: black;
    color: black;
    width: calc(100vw / 1.489);
    height: 500vh;
    overflow-x: hidden;
}